blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
Flask-Mail
fonttools
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
mysql-connector
networkx
nltk
numpy
packaging
Pillow
pyparsing
python-dateutil
PyYAML
regex
requests
safetensors
six
sympy
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
urllib3
Werkzeug
